@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.logoColor { 
  color: #28a745; 
}
body {
  font-family: 'gothic A1';
  background: #fff;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
  object-fit: cover;
  height: 300px;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
  transition: 0.5s;
}

.navbar.top {
  background: transparent;
}

.navbar a {
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
  text-decoration: none;
}

.navbar a:hover {
  border-bottom: #93cb52 2px solid;
}

.navbar ul {
  display: flex;
  top:10px;
  margin-bottom: 5px;
}

.navbar .logo {
  font-weight: 400;
}

.navbar .navbtn {
  background: #28a745;
  border-radius: 10px;
}

/* Header */
.hero {
  background: url('../images/home/background.jpg') no-repeat center center/cover;
  height: 100vh;
  position: relative; /* If absolute is inside the parent, parent element should be relative */
  color: #fff;
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}

.hero .content h1 {
  font-size: 55px;
}

.hero .content p {
  font-size: 1.2rem;
  max-width: 800px;
  margin: 20px 0 30px;
}

.hero::before {
  content: '';
  position: absolute; /* If absolute is inside the parent, parent element should be relative */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.hero * {
  z-index: 10;
}

.hero.blog {
  background: url('../images/home/blog.jpg') no-repeat center center/cover;
  height: 30vh;
}

/* Icons */
.icons {
  padding: 30px;
}

.icons h3 {
  font-weight: bold;
  margin-bottom: 15px;
}

.icons i {
  background-color: #28a745;
  color: #fff;
  padding-top: 2rem;
  text-align: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}
#cases img{
  padding-bottom: 20px;
  width: 410px;
}
.cases .column img {
  width: 100%;
  object-fit: cover;
  height: 300px;
}
.cases img:hover {
  opacity: 0.7;
}
/* About */

#about {
  height: 500px;
  margin-bottom: 40px;
}

#about p {
  width: 500px;
}

.flex-items {
  margin-top: 50px;
}

/* Showcase */
#showcase {
  background: #333 url('../img/showcase.jpg') no-repeat center center/cover;
  height: 100vh;
  color: #fff;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  /* Overlay */
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Section: What We Do */
#what .items {
  display: flex;
  padding: 1rem;
}

#what .items .item {
  flex: 1;
  text-align: center;
  padding: 1rem;
}

#what .items .item i {
  background: #93cb52;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

/* Section: Waht We Are */
#who {
  display: flex;
}

#who div {
  flex: 1;
}

#who .who-img {
  background: url('../img/people.jpg') no-repeat center center/cover;
}

/* Section: Clients */
#clients .items {
  display: flex;
}

#clients .items img {
  display: block;
  margin: auto; /* 2rem 0; looks better*/
  width: 60%;
}

/* Section: Contact */
#contact {
  display: flex;
}

#contact .map,
#contact .contact-form {
  flex: 1;
}

#contact .contact-form .form-group {
  margin: 0.75rem;
}

#contact .contact-form label {
  display: block;
}

#contact .contact-form input,
#contact .contact-form textarea {
  width: 100%;
  padding: 0.5rem;
}
#contact .form-control{
  padding: 0;
  margin-top: 30px;
}

#contact .form-control label{
  margin-bottom: 0;
}

#contact .form-control input{
  padding: 0;
  padding-left: 10px;
  height: 35px;
}
/* Team */

.team h4 {
  margin-top: 20px;
  font-size: 1.4rem;
}

/* Callback form */
.callback-form {
  width: 100%;
  padding: 20px 0;
}

.callback-form label {
  display: block;
  margin-bottom: 5px;
}

.callback-form .form-control {
  margin-bottom: 15px;
}

.callback-form input {
  width: 100%;
  padding: 4px;
  height: 40px;
  font-size: 12px;
  border: #f5f5f5 1px solid;
}

.callback-form input:focus {
  outline-color: #28a745;
}

.callback-form .btn {
  padding: 10px 0;
  margin-top: 20px;
  font-size: 14px;
}

/* Post */
.post {
  padding: 50px 30px;
}

.post h2 {
  font-size: 40px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: #ccc solid 1px;
}

.post .meta {
  margin-bottom: 30px;
}

.post img {
  width: 300px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 30px;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  color: #28a745;
}

.footer .social > * {
  margin-right: 30px;
}

.footer p {
  margin-top: 20px;
}

/* Mobile */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: 120px;
    padding: 20px;
  }

  .navbar a {
    padding: 10px 10px;
    margin: 0 3px;
  }

  .flex-items {
    flex-direction: column;
  }

  .flex-columns .column,
  .flex-grid .column {
    flex: 100%;
    max-width: 100%;
  }

  .team img {
    width: 70%;
  }
}
