{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/9b342ce525.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'css/utilities.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>공지사항</title>
  </head>
  <body id="home">
    <!-- Navbar -->
    <header class="hero blog">
      <div id="navbar" class="navbar top">
        <h1 class="logo">
          <a href="{% url 'first' %}"><span class="text-primary"> Building</span
            >Smart</a>
        </h1>
        <nav>
          <ul>
            <li><a href="{% url 'first' %}">홈</a></li>
            <li><a href="#index.html#about" onclick="not_develop()">협회행사</a></li>
            <li><a href="#index.html#cases" onclick="not_develop()">협회소식</a></li>
            <li><a href="#index.html#blog" onclick="not_develop()">해외소식</a></li>
            <li><a href="#index.html#contact" onclick="not_develop()">BIM소식</a></li>
            <li><a href="#index.html#contact" onclick="not_develop()">회원사/회원소식</a></li>
            <li><a href="{% url 'login' %}"  class="navbtn" >회원가입</a></li>
          </ul>
        </nav>
      </div>

      <div class="content">
        <h1>공지사항</h1>
      </div>
    </header>

    <main>
      <article class="flex-columns">
        <div class="row">
          <div class="column">
            <div class="column-1">
              <img src="{%static 'images/blog/blog1.jpg' %}" alt="" />
            </div>
          </div>
          <div class="column">
            <div class="column-2 bg-light">
              <h2>
                국토교통부 「건설사업 BIM 기본지침(안)」 에 대한 의견 조회
              </h2>
              <p class="meta">
                <i class="fas fa-user"></i> Posted by
                <strong>빌딩스마트협회</strong> | August 06 2020
              </p>
              <h2>공문</h2>
              <p>
                1. 귀 기관의 무궁한 발전을 기원합니다.<br />
                2. 국토교통부 기술정책과-3336(2020.07.27)에 따라 국토부에서 마련
                검토 중인 [건설사업 BIM 기본지침(안)]에 대한 의견을 수렴하고자
                하오니 지침(안)에 대한 의견이 있으시면, 첨부 양식에 아래와 같이
                회신하여 주시기 바랍니다.
              </p>
              <a href="#post.html" class="btn btn-dark" onclick="not_develop()">
                <i class="fas fa-chevron"></i>더 알아보기</a
              >
            </div>
          </div>
        </div>
      </article>

      <article class="flex-columns flex-reverse">
        <div class="row">
          <div class="column">
            <div class="column-1">
              <img src="{% static 'images/blog/blog2.jpg' %}" alt="" />
            </div>
          </div>
          <div class="column">
            <div class="column-2 bg-dark">
              <h2>
                (사)빌딩스마트협회, 토목‧건축분야 ‘BIM 용역 실적등록’
                7월31일까지 연장 접수
              </h2>
              <p class="meta">
                <i class="fas fa-user"></i> Posted by
                <strong>빌딩스마트협회</strong> | June 25 2020
              </p>
              <h2>연장 접수 안내</h2>
              <p>
                (사)빌딩스마트협회는 국내 토목?건축 분야의 건설사, 설계 용역사,
                엔지니어링사, CM사, BIM 용역전문업체 등을 대상으로 ‘BIM 용역실적
                확인서’를 발급하고 있다. (사)빌딩스마트협회는 2009년부터
                현재까지 국내 관련 업체에서 BIM 기술을 적용한 용역의
                데이터베이스를 구축하여 BIM 용역실적을 효율적으로 관리하고
                발주자 등의 요청에 활용할 수 있는 1,500여 건의 실적을 연 2회
                접수받아 등록?관리하고 있다. BIM 용역실적에 등록할 수 있는
                수행사업의 형태는 1) 발주처에서 BIM을 요구하여 수행한 경우, 2)
                하도급 계약에 의해 수행한 경우, 3) 발주처와 무관하게 자체적으로
                수행하는 경우, 4) 현상설계 등 제안사업으로 수행하는 경우 등 여러
                형태로 등록할 수 있으며 건축, 토목, 설계, CM, 엔지니어링,
                IT&소프트웨어, 연구 등 10개의 분야의 용역실적을 등록할 수 있다.
              </p>
              <a href="#post.html" class="btn btn-light" onclick="not_develop()">
                <i class="fas fa-chevron"></i>더 알아보기</a
              >
            </div>
          </div>
        </div>
      </article>

      <article class="flex-columns">
        <div class="row">
          <div class="column">
            <div class="column-1">
              <img src="{% static 'images/blog/blog3.jpg' %}" alt="" />
            </div>
          </div>
          <div class="column">
            <div class="column-2 bg-light">
              <h2>
                경기도시공사, 빌딩스마트협회와 스마트 건설기술 BIM 체계 마련을
                위한 업무협약을 체결
              </h2>
              <p class="meta">
                <i class="fas fa-user"></i> Posted by
                <strong>빌딩스마트협회</strong> | May 27 2020
              </p>
              <h2>협약 체결 안내</h2>
              <p>
                경기도시공사는 26일 본사 5층 회의실에서 사단법인
                빌딩스마트협회와 스마트 건설기술 BIM 체계 마련을 위한 업무협약을
                체결했다고 밝혔다. BIM(Building Information
                Model·건설정보모델링) 은 건축물의 모든 정보를 통합적으로 활용해
                설계에서 유지관리까지의 모든 정보를 생산·관리하는 기술로서
                범정부 차원에서 활성화를 추진하고 있다. 협약에 따라 양 기관은
                스마트 건설기술 BIM 체계 마련 및 활성화, 건설 BIM 연구개발 및
                지식 지원, 국내외 건설 BIM 정보?기술 교류 및 홍보를 위해
                지속적으로 협력해 나가기로 했다.
              </p>
              <a href="#post.html" class="btn btn-dark" onclick="not_develop()">
                <i class="fas fa-chevron"></i>더 알아보기</a
              >
            </div>
          </div>
        </div>
      </article>
    </main>

    <!-- Footer -->
    <footer class="footer bg-dark">
      <div class="social">
        <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
        <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
        <a href="#"><i class="fab fa-youtube fa-2x"></i></a>
        <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
      </div>
      <p>Copyright &copy; 2020 | 빌딩스마트코리아 | All Rights Reserved</p>
    </footer>

    <script>
      const navbar = document.getElementById('navbar');
      let scrolled = false;

      window.onscroll = function () {
        if (window.pageYOffset > 100) {
          navbar.classList.remove('top');
          if (!scrolled) {
            navbar.style.transform = 'translateY(-70px)';
          }
          setTimeout(function () {
            navbar.style.transform = 'translateY(0)';
            scrolled = true;
          }, 200);
        } else {
          navbar.classList.add('top');
          scrolled = false;
        }
      };
      function not_develop(){
             alert("아직 개발중입니다.")
          }  
    </script>
  </body>
</html>
